* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid blue;
    border-right-color: transparent;
    animation: loaderAnimation 1s linear infinite;
}

@keyframes loaderAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}