* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-heading {
  text-align: center;
  color: #333333;
  font-size: 3rem;
}

body {
  font-family: Arial, sans-serif;
}


.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  gap: 20px;
}

.main-form {
  width: 40%;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-element {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-element-left {
  flex: 1;
}
.form-element-right {
  display: flex;
  gap: 15px;
  flex: 1;
  flex-wrap: wrap;
}

.submit-btn {
  width: 100%;
  background-color: #04aa6d;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #45a049;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

input[type="text"]:focus {
  outline: none;
}

@media (max-width: 768px) {
  .form-element {
    flex-direction: column;
    gap: 20px;
    align-items: stretch;
  }
}
