* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
}

.box-1 {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    background-image: url("https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg");
    background-size: cover;
    background-repeat: no-repeat;

}

.box-2 {
    width: 500px;
    height: 500px;
    border: 1px solid black;
}